
<br>
<br>
<br>
<div class="d-flex justify-content-center">
  <div class="card" style="width: 35rem;">

    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
    <div class="card-header">
      Detail Photo
    </div>
    <div class="card-body">
      <p class="card-text"><b>Name</b> :&emsp;{{this.foto.file_Name}}</p>
        <p class="card-text"><b>Name</b> :&emsp;{{this.foto.model}}</p>
        <p class="card-text"><b>Category</b> :&emsp;{{this.foto.category}}</p>
        <p class="card-text"><b>State</b> :&emsp;{{ this.foto.state }}</p>
        <p class="card-text"><b>brand</b> :&emsp;{{this.foto.brand}}</p>
        <p class="card-text"><b>Model</b> :&emsp;{{this.foto.model}}</p>
        <p class="card-text"><b>Lens</b> :&emsp;{{this.foto.lens}}</p>
        <p class="card-text"><b>Donation On</b> :&emsp;{{this.foto.donationOn | date:'mediumDate' :'it' }}</p>
        <p class="card-text"><b>Donation By</b> :&emsp;{{this.foto.donationBy}}</p>
        <p class="card-text"><b>Approved On</b> :&emsp;
             {{this.foto.approvedOn | date:'mediumDate'  }} 

          
        </p>
        <p class="card-text"><b>Approved Bn</b> :&emsp;{{this.foto.approvedBy}}</p>



        <br>
        <a href="list-foto" class="btn btn-primary btn-sm active" role="button"
        
         aria-pressed="true">Go Back</a>
    </div>


  </div>

</div>
<br>
<br>




<!-- 
approvedBy
: 
"Alex"
approvedOn
: 
"0001-01-01T00:00:00"
brand
: 
"Brend1"
category
: 
"Categoria 1"
donationBy
: 
"Dinatiom"
donationOn
: 
"2000-10-10T00:00:00"
file_Name
: 
"oral_img-2024513--.jpg"
format
: 
".jpg"
id
: 
"bc58bc5c-cc3c-4c2e-87eb-002ba689b083"
lens
: 
"Lenti 1"
model
: 
"Modello 1"
name
: 
"Gengivite"
pixelX
: 
500
pixelY
: 
5000
size
: 
246
state
: 
3

-->